/* reset */
*, html, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    outline: none;
}

*:focus {
    outline: none;
}

html, body, div, span, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, select, textarea, table, col, colgroup, thead, tfoot, tbody, th, td, button {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Noto Sans KR', Dotum, Arial, sans-serif;
    border: 0;
}

body {
    color: #333;
    font-size: 16px;
    line-height: 1;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

em, address {
    font-style: normal;
}

img {
    font-size: 0;
    line-height: 0;
    border: 0 none;
}

caption {
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th, td {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #333;
    line-height: 1;
    transition:all .4s ease;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

a:visited {
    color: #333;
}

/* IE - input close button delete */
input::-ms-clear {
    display: none;
}

/* RESET - chrome input background sky set */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 0;
    -webkit-text-fill-color: #848484;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

p, span, h1, h2, h3, h4, h5, h6 {
    word-break: keep-all;
}
